body {
   font-family: "Poppins", sans-serif;
}

.nav-todo-wrapper {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}
.nav-todo {
   color: rgb(106, 151, 151);
   font-weight: bold;
   font-size: 18px;
}

.nav-list {
   color: #ffdb3c;
   font-weight: bold;
   font-size: 18px;
}

.nav {
   color: rgb(38, 64, 79);
   font-size: 20px;
   font-weight: bold;
}

.container-auth {
   background-color: rgb(106, 151, 151);
}

.button-register {
   background-color: rgb(106, 151, 151);
   padding: 10px 20px;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-register:hover {
   background-color: rgb(28, 129, 129);
}

.footer {
   color: rgb(38, 64, 79);
   font-weight: bold;
   font-size: 15px;
}
